.wrapper-register {
  width: 100vw;
  height: 100vh;
  background-color: #23242a;
}

.box {
  position: relative;
  width: 25rem;
  height: 35rem;
  background-color: #1c1c1c;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  padding: 50px;
}

.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 23.75rem;
  height: 500px;
  background-color: #45f3ff;
  transform-origin: bottom right;
  z-index: 1;
  animation: animate 6s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 23.75rem;
  height: 31.25rem;
  background-color: #45f3ff;
  transform-origin: bottom right;
  z-index: 1;
  animation: animate 6s linear infinite;
  animation-delay: 3s;
}

.borderLine {
  position: absolute;
  top: 0;
  inset: 0;
}

.borderLine::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 31.25rem;
  height: 500px;
  background-color: #ff2770;
  transform-origin: bottom right;
  z-index: 1;
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}

.borderLine::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 23.75rem;
  height: 31.25rem;
  background-color: #ff2770;
  transform-origin: bottom right;
  z-index: 1;
  animation: animate 6s linear infinite;
  animation-delay: -4.5s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box form {
  position: absolute;
  inset: 4px;
  background: #222;
  padding: 3rem;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.box form .inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.box form .inputBox input {
  position: relative;
  width: 100%;
  padding: 1rem 2rem 0.5rem;
  background: transparent;
  outline: none;
  box-shadow: none;
  color: #23242a;
  font-size: 1rem;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
  border: none;
}

.box form .inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  pointer-events: none;
  color: #8f8f8f;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span {
  color: #fff;
  font-size: 0.75rem;
  transform: translateY(-34px);
}

.box form .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i {
  height: 44px;
}

.box form .links {
  display: flex;
  justify-content: space-between;
}

.box form .links a {
  margin: 10px 0;
  font-size: 0.75rem;
  color: #8f8f8f;
  text-decoration: none;
}

.box form .links a:hover,
.box form .links a:nth-child(2) {
  color: #fff;
}

.box form input[type="submit"] {
  border: none;
  outline: none;
  padding: 9px 25px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.box form input[type="submit"]:active {
  opacity: 0.8;
}
