.container-forgot-password {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
}

.container-forgot-password::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1597834777623-acd73456aca1?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"),
    #000;
  background-position: center;
  background-size: cover;
}

.container-forgot-password-child {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  --webkit-boxdrop-filter: blur(5px);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.input-text-forgot {
  position: relative;
  border-bottom: 2px solid #4faf43;
  margin: 15px 0;
}

.input-text-forgot label {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  color: #4faf43;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-text-forgot input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #4faf43;
}

.input-text-forgot input:focus ~ label,
.input-text-forgot input:valid ~ label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

.forget {
  display: flex;
  align-items: center;
  margin: 25px 0 30px 0;
  color: #fff;
}

#remember-forgot {
  accent-color: #4faf43;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget p {
  margin-top: 10px;
  margin-left: 8px;
}

#root > div > div > div > form > div.forget > label > p {
  color: #4faf43;
}

.container-forgot-password-child {
  color: #4faf43;
  text-decoration: none;
}

.container-forgot-password-childa:hover {
  text-decoration: underline;
  color: #4faf43;
}

.submit-forgot {
  background: #4faf43;
  color: #fff;
  font-weight: 60;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

.submit-forgot:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.15);
  border-color: #fff;
}

.register-forgot {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

#root > div > div > div > form > div.register-forgot > p > a {
  color: #4faf43;
}
